[project]
	description = simple arc objective-c wrapping of https://github.com/JoeKun/FileMD5Hash
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gelosie (gelosie)
[access "refs/for/refs/*"]
	read = group user/gelosie (gelosie)
	push = group user/gelosie (gelosie)
	label-Code-Review = -2..+2 group user/gelosie (gelosie)
	label-Verified = -1..+1 group user/gelosie (gelosie)
	rebase = group user/gelosie (gelosie)
	removeReviewer = group user/gelosie (gelosie)
	submit = group user/gelosie (gelosie)
[access "refs/heads/*"]
	read = group user/gelosie (gelosie)
	create = group user/gelosie (gelosie)
	push = +force group user/gelosie (gelosie)
	pushMerge = group user/gelosie (gelosie)
[access "refs/tags/*"]
	push = +force group user/gelosie (gelosie)
	pushTag = group user/gelosie (gelosie)
	pushSignedTag = group user/gelosie (gelosie)
